<a href="https://colab.research.google.com/github/Fabriciome/Tarefas-Awari/blob/main/Coleta_de_dados_Im%C3%B3veis_Mercado_Livre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Esse notebook coleta dados de imóveis para aluguel, na cidade de São Paulo, diretamente do site Mercado Livre.

In [31]:
#Importanto bibliotecas e pacotes
from time import sleep
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [37]:
zonas = ['centro', 'sul', 'norte', 'leste', 'oeste']
paginas = ['', '_Desde_49', '_Desde_97', '_Desde_145', '_Desde_193', '_Desde_241','Desde_289','Desde_337']

In [38]:
# Essa função acessa a url, coleta as informacoes de número de quartos e preço por zona, vai salvando em listas e depois junta as listas em uma tabela.
def coleta_dados(url, zona):
  res = requests.get(url).content
  sopa = BeautifulSoup(res)
  precos = sopa.find_all('span', {'class': 'price-tag-fraction'})
  areas_quartos = sopa.find_all('ul', {'class': 'ui-search-card-attributes ui-search-item__group__element'})
  lista_precos = []
  lista_areas_quartos = []
  lista_zonas = []
  for preco, area_quarto in zip(precos, areas_quartos):
    lista_precos.append(preco.text)
    lista_areas_quartos.append(area_quarto.text)
    lista_zonas.append(zona) 
  dados = {'aluguel': lista_precos,
  'area_quarto': lista_areas_quartos,
  'zona': lista_zonas}
  df = pd.DataFrame(dados)
  return df

In [39]:
#execução de laço para pegar as informações por zona.
lista_dataframes = []
for zona in zonas:
  # print('Zona:', zona)
  for pagina in paginas:
    # print('Pagina:', pagina)
    url = f'https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-{zona}/{pagina}'
    print('Coletando dados de', url)
    df = coleta_dados(url, zona) # retorna o df 
    lista_dataframes.append(df)
    sleep(2)

Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-centro/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-centro/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-centro/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-centro/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-centro/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-centro/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-centro/Desde_289
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-centro/Desde_337
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/Desde_289
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/Desde_337
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/Desde_289
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/Desde_337
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/Desde_289
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/Desde_337
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/Desde_289
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/Desde_337

In [40]:
df_ml = pd.concat(lista_dataframes, axis=0)

In [41]:
df_ml.head()

  aluguel                 area_quarto    zona
0   2.000  62 m² construídos3 quartos  centro
1   1.400  34 m² construídos2 quartos  centro
2   1.500  43 m² construídos2 quartos  centro
3   1.300   42 m² construídos1 quarto  centro
4   1.350  53 m² construídos2 quartos  centro

In [42]:
df_ml.shape

(1483, 3)

In [43]:
df_ml.to_csv('dados_mercado_livre.csv', index=False)

In [44]:
pd.read_csv('dados_mercado_livre.csv', thousands='.')

      aluguel                 area_quarto    zona
0        2000  62 m² construídos3 quartos  centro
1        1400  34 m² construídos2 quartos  centro
2        1500  43 m² construídos2 quartos  centro
3        1300   42 m² construídos1 quarto  centro
4        1350  53 m² construídos2 quartos  centro
...       ...                         ...     ...
1478     2011  75 m² construídos3 quartos   oeste
1479     4050  65 m² construídos2 quartos   oeste
1480     1600   33 m² construídos1 quarto   oeste
1481     4800  97 m² construídos2 quartos   oeste
1482     2500  85 m² construídos3 quartos   oeste

[1483 rows x 3 columns]